// Defaults
$containerWidth: 980px;

$primaryFont:  'Franklin Gothic Condensed Web', Helvetica, Arial, sans-serif;
$secondaryFont:  'Roboto Condensed', sans-serif;
$defaultFontSize: 2.4rem;
$defaultLineHeight: 1.55;

$black: #000;
$primarycolor: #00D682;
$dark: rgb(44,43,44);
$white: #FFFFFF;
$gray: #D1D1D1;